 <!-- NAVBAR -->
 <!-- Dropdown Structure -->
 <ul id="dropdown-recursos" class="dropdown-content">
  <li><a href="#!">FB - H.I.T.M.E.</a></li>
  <li><a href="#!">FB - Roy Harris</a></li>
  <li><a href="#!">FB - BJJ over 40</a></li>
  <li><a href="#!">FB - Baja Jiu Jitsu</a></li>
  <li class="divider"></li>
  <li><a href="#!">BJJ Over 40 Academy</a></li>
  <li><a href="#!">Harris International</a></li>
  <li><a href="#!">RoyHarris.com</a></li>
  <li><a href="#!">Sakura Jiu Jitsu</a></li>
</ul>
<ul id="dropdown-recursos-mobile" class="dropdown-content">
  <li><a href="#!">FB - H.I.T.M.E.</a></li>
  <li><a href="#!">FB - Roy Harris</a></li>
  <li><a href="#!">FB - BJJ over 40</a></li>
  <li><a href="#!">FB - Baja Jiu Jitsu</a></li>
  <li class="divider"></li>
  <li><a href="#!">BJJ Over 40 Academy</a></li>
  <li><a href="#!">Harris International</a></li>
  <li><a href="#!">RoyHarris.com</a></li>
  <li><a href="#!">Sakura Jiu Jitsu</a></li>
</ul>
<nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo hide-on-small-only">Harris International Team México</a>
    <a href="#!" class="brand-logo hide-on-med-and-up">H.I.T.M.E.</a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="#">Inicio</a></li>
      <li><a href="#acerca">Acerca</a></li>
      <li><a class="dropdown-button" href="#!" data-activates="dropdown-recursos">Recursos<i class="material-icons right">arrow_drop_down</i></a></li>
      <li><a href="#instructores">Instructores</a></li>
      <li><a href="#videos">Videos</a></li>
      <li><a href="#contacto">Contacto</a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><a href="#">Inicio</a></li>
      <li><a href="#acerca">Acerca</a></li>
      <li><a class="dropdown-button" href="#!" data-activates="dropdown-recursos-mobile">Recursos<i class="material-icons right">arrow_drop_down</i></a></li>
      <li><a href="#instructores">Instructores</a></li>
      <li><a href="#videos">Videos</a></li>
      <li><a href="#contacto">Contacto</a></li>
    </ul>
  </div>
</nav>

<!-- SLIDER -->
<div class="slider">
  <ul class="slides">
    <li>
      <img src="images/team.jpg"> <!-- random image -->
      <div class="caption center-align">
      </div>
    </li>
    <li>
      <img src="images/mexicali_02a.jpg"> <!-- random image -->
      <div class="caption left-align">
      </div>
    </li>
    <li>
      <img src="images/mexicali_05a.jpg"> <!-- random image -->
      <div class="caption right-align">
      </div>
    </li>
    <li>
      <img src="images/mexicali_07a.jpg"> <!-- random image -->
      <div class="caption center-align">
      </div>
    </li>
    <li>
      <img src="images/mexicali_08a.jpg"> <!-- random image -->
      <div class="caption center-align">
      </div>
    </li>
  </ul>
</div>
<!-- ACERCA -->
<div class="container">
  <div id="acerca" class="section">
    <div class="row">
      <div class="col s12 l6">
        <h4>Acerca</h4>
        <p>
          Harris International Team México is comprised of nine different instructors at three locations in México; one in Mexicali and two in México City.
        </p>
        <p class="light">
          Professor <strong>Roy Harris</strong>, in cooperation with a talented team of instructors from México City and Mexicali, are progressing quickly in their pursuit of developing an energetic team of positive, encouraging and dedicated Jiu Jitsu students / instructors throughout the country of México.
        </p>
        <p class="light">
          Being a part of the “<strong>Dirty Dozen</strong>” (one of the first 12 Americans to receive their black belt in Brazilian Jiu Jitsu), being the first North American to develop a standardized and structured BJJ belt promotion and training curriculum as well as having trained in and studied 27 styles of martial arts since 1981, Professor Harris has a unique perspective on Jiu Jitsu and the world of fighting.
        </p>
        <p class="light">
          To ensure and maintain a high standard of instruction and training, Professor Harris works closely with his Mexican students and instructors on a quarterly, and sometimes monthly, basis (in certain locations). No other instructor in México maintains such a high standard!
        </p>
      </div>
      <div class="col s12 l6">
        <img src="images/baja_bjj_team.jpg" class="responsive-img">
        <br>
        <img src="images/baja_bjj.jpg" class="responsive-img">
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col s12">
      <div class="divider"></div>
    </div>
  </div>
</div>

<!-- OUR TEAM -->
<div class="container">
  <div id="instructores" class="section">
    <div class="row">
      <div class="s12 center">
        <h4>Nuestro equipo de instructores</h4>
        <p class="light">
          Harris International Team México currently has instructors in Mexicali and México City. In the coming years, we will be expanding our efforts throughout México to recruit instructors from all states of México! Here is a look at our current team of highly trained instructors.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m4">
        <div class="card">
          <div class="card-image">
            <img src="images/diego.jpg">
          </div>
          <div class="card-action">
            <a href="#">Diego Trujillo - Instructor Mexicali BC</a>
          </div>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="card">
          <div class="card-image">
            <img src="images/enrique.jpg">
          </div>
          <div class="card-action">
            <a href="#">Enrique Arreola - Instructor Mexicali BC</a>
          </div>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="card">
          <div class="card-image">
            <img src="images/henru.jpg">
          </div>
          <div class="card-action">
            <a href="#">Enrique Avalos - Instructor Mexicali BC</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m4">
        <div class="card">
          <div class="card-image">
            <img src="images/isis.jpg">
          </div>
          <div class="card-action">
            <a href="#">Isis Torres - Instructor Ciudad de México</a>
          </div>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="card">
          <div class="card-image">
            <img src="images/benjamin.jpg">
          </div>
          <div class="card-action">
            <a href="#">Benjamin Bautista - Instructor Mexicali BC</a>
          </div>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="card">
          <div class="card-image">
            <img src="images/pedro.jpg">
          </div>
          <div class="card-action">
            <a href="#">Pedro Lizarraga - Instructor Mexicali BC</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col s12">
      <div class="divider"></div>
    </div>
  </div>
</div>

<!-- VIDEOS -->
<div class="container">
  <div id="videos" class="section">
    <div class="row">
      <div class="s12 center">
        <h4>Nuestros Videos</h4>
        <p class="light">
          Below are a handful of our instructional Jiu Jitsu videos. Enjoy!
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <div class="video-container">
          <iframe width="853" height="480" src="https://www.youtube.com/embed/5Rkqg4ZAoAc" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m4">
        <div class="video-container">
          <iframe width="853" height="480" src="https://www.youtube.com/embed/cmaC_DJlV1s" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="video-container">
          <iframe width="853" height="480" src="https://www.youtube.com/embed/tiuqooqPFoc" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="video-container">
          <iframe width="853" height="480" src="https://www.youtube.com/embed/07j3y_ctNUI" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m4">
        <div class="video-container">
          <iframe width="853" height="480" src="https://www.youtube.com/embed/JzTEXlUQMos" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="video-container">
          <iframe width="853" height="480" src="https://www.youtube.com/embed/k3q0Ze_Oyqg" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="video-container">
          <iframe width="853" height="480" src="https://www.youtube.com/embed/HDIIRhWuwKg" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col s12">
      <div class="divider"></div>
    </div>
  </div>
</div>

<!-- CONTACT -->
<div class="container">
  <div id="contacto" class="section">
    <div class="row">
      <div class="col s12">
        <h4>Contactanos</h4>
      </div>
    </div>
    <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s12 m6">
            <input id="nombre" type="text" class="validate">
            <label for="nombre">Nombre</label>
          </div>
          <div class="input-field col s12 m6">
            <input id="correo_electronico" type="email" class="validate">
            <label for="correo_electronico">Correo Electrónico</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <textarea id="mensaje" class="materialize-textarea"></textarea>
            <label for="mensaje">Mensaje</label>
          </div>
        </div>
        <div class="row">
          <div class="col s12 right-align">
            <button class="btn waves-effect waves-light" type="submit" name="action">Enviar<i class="material-icons right">send</i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>


<!-- FOOTER -->
<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Footer Content</h5>
        <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2016 Copyright
      <a class="grey-text text-lighten-4 right" href="#!">Diseñado por Pedro Lizárraga</a>
    </div>
  </div>
</footer>

<script>
$(document).ready(function(){
  $(".button-collapse").sideNav();
  $(".dropdown-button").dropdown();
  $('.slider').slider({full_width: true});
})
</script>